<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <title>DoctorLink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app/build/css/main.min.css">
    <link rel="stylesheet" href="app/build/css/main.min.css">
</head>
<body ng-controller="MainController">
<header ng-if="userAuth">
    <nav class="navbar navbar-default">
        <!-- Бренд и переключатель, который вызывает меню на мобильных устройствах -->
        <div class="navbar-header">
            <!-- Кнопка с полосочками, которая открывает меню на мобильных устройствах -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Бренд или логотип фирмы (обычно содержит ссылку на главную страницу) -->
            <a href="#" ui-sref="/" class="navbar-brand"><img src="images/logo_on_main.png" /></a>
        </div>
        <!-- Содержимое меню (коллекция навигационных ссылок, формы и др.) -->
        <div class="collapse navbar-collapse" id="main-menu" >
            <!-- Список ссылок, расположенных слева -->
            <ul class="nav navbar-nav">
                <!--Элемент с классом active отображает ссылку подсвеченной -->
                <li ng-class="{active : activeTab == '/'}"><a href="#">Главная <span class="sr-only">(current)</span></a></li>
                <!--<li ng-class="{active : activeTab == 'receptions'}"><a href="" ui-sref="receptions">Приемы</a></li>-->
                <li ng-class="{active : activeTab == 'clinics'}"><a href="" ui-sref="clinics">Клиники</a></li>
<!--                <li ng-class="{active : activeTab == 'doctors'}"><a href="" ui-sref="doctors">Врачи</a></li>
                <li ng-class="{active : activeTab == 'labs'}"><a href="" ui-sref="labs">Лаборатории</a></li>
                <li ng-class="{active : activeTab == 'patients'}"><a href="" ui-sref="patients">Пациенты</a></li>
                <li ng-class="{active : activeTab == 'reviews'}"><a href="" ui-sref="reviews">Отзывы</a></li>
                <li ng-class="{active : activeTab == 'complaints'}"><a href="" ui-sref="complaints">Жалобы</a></li>
                <li ng-class="{active : activeTab == 'general'}"><a href="" ui-sref="general">Общее</a></li>
                <li ng-class="{active : activeTab == 'gatalogs'}"><a href="" ui-sref="gatalogs">Каталог</a></li>-->
            </ul>
            <!-- Список ссылок, расположенный справа -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ng-click="logout()">Выйти</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="innerBlock" ui-view></div>

<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-ui-router.min.js"></script>
<script src="lib/angular-confirm.min.js"></script>
<script src="lib/pagination.min.js"></script>
<script src="lib/dataGrid.min.js"></script>
<script src="lib/angular-animate.min.js"></script>
<script src="lib/angular-file-upload.min.js"></script>
<script src="lib/angular-toastr.tpls.min.js"></script>
<script src="lib/ya-map-2.1.js"></script>
<script src="app/build/js/main.min.js"></script>
<!-- Тест -->
</body>
</html>