.display-inline-block{
    display: inline-block;
    vertical-align: top;
}

.float-none{
    float: none;
}

.float-left{
    float: left;
}

.greyBlock{
    background: #efefef;
    padding: 15px;
}

.imageCircle{
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 40px;
    border: 2px solid #FFFFFF;
}

.imageCircle img{
    height: 65px;
}

.breadcrumb{
    margin-bottom: 0px;
}

.innerBlock {
    margin-top: -20px;
}

.topTitle {
    float: left;
    margin-left: 10px;
}

.rad {
    color: #ff0000;
}

.nav.nav-pills.nav-stacked li{
    cursor: pointer;
}

.tags {
    overflow: hidden;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    padding: 4px;
    border: 1px solid #ffd28c;
    border-radius: 5px;
    margin: 2px;
}

.overflow-hidden {
    overflow: hidden;
}

.checkbox+.checkbox{
    margin-top: 10px;
}

.profile-gallery .profile-gallery-item{
    display: inline-block;
    padding: 10px;
    vertical-align: top;

    border: 1px solid #c7e4f4;
    width: 100%;
}

.profile-gallery .profile-gallery-item div{
    overflow: hidden;
    margin: 5px;
    text-align: center;
    height: 154px;
}

.profile-gallery .col-xs-3{
    margin-bottom: 10px;
}

.profile-gallery .profile-gallery-item img{
    max-height: 154px;
}

.clinicTop {
    margin-top: 20px;
}

.clinicTop h1{
    margin-top: 0px;
}

.PGDelete {
    float: right;
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.gallery{
    height: 100px;
    overflow: hidden;
}

ya-map {
    width: 100%;
    height: 400px;
    display: block;
}

.map_container{
    width: 100%;
    height: 400px;
}

.profile-avatar{
    text-align: center;
}

.profile-avatar div{
    width: 150px;
    overflow: hidden;
    height: 150px;
    border-radius: 87px;
    border: 4px solid #337ab7;
    position: relative;
    margin-top: -10px;
    display: inline-block;
}

.profile-avatar div img{
    max-height: 150px;
}