<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">О клинике</h3></div>
    <div class="panel-body">
        <div class="form-group col-xs-12">
            <textarea placeholder="О клинике" rows="10" class="form-control" id="profile-country" ng-model="$parent.data.about"/>
        </div>

        <div class="form-group col-xs-12">
            <button class="btn btn-success" ng-click="saveAbout($parent.data.about)">Сохранить</button>
        </div>
    </div>
</div>