<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Адресс</h3></div>
    <div class="panel-body">
        <div class="form-group col-xs-4">
            <label for="profile-country">Страна <span class="rad">*</span></label>
            <input type="text" class="form-control" id="profile-country" ng-model="address.country"/>
        </div>
        <div class="form-group col-xs-4">
            <label>Город <span class="rad">*</span></label>
            <select class="form-control" ng-model="address.city.id" ng-options="item.id as item.name for item in catalog.cities"></select>
        </div>
        <div class="form-group col-xs-4">
            <label>Район <span class="rad">*</span></label>
            <select class="form-control" ng-model="address.district.id" ng-options="item.id as item.name for item in catalog.district"></select>
        </div>
        <div class="col-xs-12">

            <div class="map_wrapper">
                <div class="map_title">
                    <span>Отметьте местоположение на карте</span>
                </div>
                <div class="map_container">
                    <ya-map ya-controls='' ng-if="address" ya-zoom="{{address.zoom}}" ya-event-click="mapClick($event)" ya-center="{{address.center}}" ya-after-init="afterMapInit($target)">
                        <ya-geo-object ng-if="address.marker" ya-source="address.marker"></ya-geo-object>
                    </ya-map>
                </div>
            </div>

        </div>
        <div class="form-group col-xs-4">
            <label for="profile-street">Улица </label>
            <input type="text" class="form-control" id="profile-street" ng-model="address.street"/>
        </div>
        <div class="form-group col-xs-4">
            <label for="profile-house">Дом </label>
            <input type="text" class="form-control" id="profile-house" ng-model="address.house"/>
        </div>
        <div class="form-group col-xs-4">
            <label for="profile-room">Кабинет </label>
            <input type="email" class="form-control" id="profile-room" ng-model="address.room"/>
        </div>
        <div class="form-group col-xs-12">
            <button class="btn btn-success" ng-click="saveAddress(address)">Сохранить</button>
        </div>
    </div>
</div>