<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Лицензия</h3></div>
    <div class="panel-body">
        <p>
            Для полноценной работы в нашем сервисе необходимо пройти верификацию с помощью номера лицензии.
            Без верификации ваш профиль будет ограничен и не доступен как для пациентов, так и для врачей.
        </p>
        <div class="form-group col-xs-12">
            <div class="row">
                <div class="col-xs-6">
                    <label for="profile-country">Номер лицензии <span class="rad">*</span></label>
                    <input type="text" class="form-control" id="profile-country" ng-model="$parent.data.license"/>
                </div>
                <div class="col-xs-6">
                    <a href="">Изменить номер лицензии</a>
                </div>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <button class="btn btn-success">Подтвердить</button>
            <button class="btn btn-default">Отказать</button>
        </div>
    </div>
</div>