<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Изминение пароля</h3></div>
    <div class="panel-body">
        <div class="col-xs-6">
            <div class="form-group">
                <label for="password-old">Старый пароль <span class="rad">*</span></label>
                <input type="password" class="form-control" id="password-old" ng-model="password.old"/>
            </div>
            <div class="form-group">
                <label for="password-new">Новый пароль <span class="rad">*</span></label>
                <input type="password" class="form-control" id="password-new" ng-model="password.new"/>
            </div>
            <div class="form-group">
                <label for="password-new2">Подтвердить новый пароль <span class="rad">*</span></label>
                <input type="password" class="form-control" id="password-new2" ng-model="password.new2"/>
            </div>
        </div>
        <div class="form-group col-xs-12">
            <button class="btn btn-success" ng-click="savePassword(password)">Сохранить</button>
        </div>
    </div>
</div>