<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Профиль</h3></div>
    <div class="panel-body">
        <div class="profile-avatar" ng-if="$parent.data.profile_photo_url"><div><img src="{{API_ENDPOINT}}/files/thumb?id={{$parent.data.profile_photo_url.id}}" /></div></div>
        <div class="form-group col-xs-6">
            <label for="profile-name">Название клиники <span class="rad">*</span></label>
            <input type="text" class="form-control" id="profile-name" ng-model="$parent.data.name"/>
        </div>
        <div class="form-group col-xs-6">
            <label for="profile-email">Аватар </label>
            <input type="file" class="form-control" nv-file-select="" uploader="uploaderLogo"/>
        </div>
        <div class="form-group col-xs-6">
            <label for="profile-tel">Телефон </label>
            <input type="text" class="form-control" id="profile-tel" ng-model="profile.tel"/>
        </div>
        <div class="form-group col-xs-6">
            <label for="profile-email">Почта </label>
            <input type="email" class="form-control" id="profile-email" ng-model="profile.email"/>
        </div>

        <div class="form-group col-xs-12">
            <div ng-if="uploaderLogo.isUploading">
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': uploaderLogo.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploaderLogo.uploadAll()"
                        ng-disabled="!uploaderLogo.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploaderLogo.cancelAll()"
                        ng-disabled="!uploaderLogo.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploaderLogo.clearQueue()"
                        ng-disabled="!uploaderLogo.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
        </div>

        <div class="form-group col-xs-12">
            <button class="btn btn-success" ng-click="saveProfile(profile)">Сохранить</button>
        </div>
    </div>
</div>