<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Услуги</h3></div>
    <div class="panel-body">
        <div class="form-group col-xs-12">
            <div class="tags">
                <div class="tag" ng-repeat="item in $parent.data.medical_services">{{item.name}}</div>
            </div>
            <label>Предоставляемые услуги</label>
            <!--<select class="form-control" multiple id="profile-spec">
                <option ng-repeat="servic in listServies" value="{{servic.id}}">{{servic.name}}</option>
            </select>-->
            <hr/>
            <div class="listSpec">
                <div class="col-xs-6" ng-repeat="servic in listServies">
                    <div class="checkbox">
                        <label><input ng-checked="getCheckedServies(servic.id)" type="checkbox" name="service"
                                      value="{{servic.id}}"/> {{servic.name}}</label>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <label >Дополнительные услуги</label>
            <div class="form-group overflow-hidden">
                <div class="checkbox col-xs-3">
                    <label><input ng-checked="$parent.data.can_be_called == true" type="checkbox" ng-model="$parent.data.can_be_called" ng-true-value="true" ng-false-value="false" /> Выезд на дом</label>
                </div>
                <div class="checkbox col-xs-3">
                    <label><input ng-checked="$parent.data.can_be_called_emergency == true" type="checkbox" ng-model="$parent.data.can_be_called_emergency" ng-true-value="true" ng-false-value="false" /> Экстренный вызов</label>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-12">
            <button class="btn btn-success" ng-click="saveService()">Сохранить</button>
        </div>
    </div>
</div>