<div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title">Специализация</h3></div>
    <div class="panel-body">
        <div class="form-group col-xs-12">
            <div class="tags">
                <div class="tag" ng-repeat="item in $parent.data.specs">{{item.specialization_name}}</div>
            </div>
            <label>Выберите специализацию</label>
            <!--<select class="form-control" multiple id="profile-spec">
                <option ng-repeat="spec in listSpec" value="{{spec.id}}">{{spec.specialization_name}}</option>
            </select>-->
            <hr/>
            <div class="listSpec">
                <div class="col-xs-6" ng-repeat="spec in listSpec">
                    <div class="checkbox">
                        <label><input type="checkbox" name="specs"
                                      ng-model="profileSpecs[$index]" ng-true-value="{{spec}}" ng-false-value="" ng-change="setChecked(spec)"
                                     /> {{spec.specialization_name}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-xs-12">
            <button class="btn btn-success" ng-click="saveSpec()">Сохранить</button>
        </div>
    </div>
</div>