<div ng-if="!data.id">
    <div class="container">
        <div class="text-center">Загрузка...</div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">45% Complete</span>
            </div>
        </div>
    </div>
</div>
<ul ng-if="data.id" class="breadcrumb">
    <li><a href="#" ui-sref="/">Домой</a></li>
    <li><a href="#" ui-sref="clinics">Клиники</a></li>
    <li class="active">{{data.name}}</li>
</ul>
<div ng-if="data.id" class=" greyBlock">
    <div class="row">
        <div class="col-xs-4">
            <div class="imageCircle float-left"><img src="{{data.profile_photo_url.thumb_url}}"/></div>
            <div class="topTitle"><h1>{{data.name}}</h1></div>
        </div>
        <div class="col-xs-2 hide" >
            {{data.rating.rating_percent}}%
        </div>
        <div class="col-xs-2 hide">
            <div>{{data.rating.review_count}}</div>
            <div>{{data.rating.rating_eval}}*</div>
            <div><a href="" ui-sref="clinicProfile.reviews">Просмотреть отзывы</a></div>
        </div>
        <div class="col-xs-2 hide">
            <div>{{data.visits_sum}}<br/><span>приемов</span></div>
            <div><a href="" ui-sref="clinicProfile.receptions">Посмотреть приемы</a></div>
        </div>
        <div class="col-xs-2 hide">
            <div>{{data.doctors_sum}}<br/><span>врачей</span></div>
            <div><a href="">Посмотреть врачей</a></div>
        </div>
    </div>
    <br/>
    <div>
        <a href="" ui-sref="clinicProfile.info({clinicId:data.id})" class="btn btn-info">Профиль</a>
        <a href="" ui-sref="clinicProfile.settings({clinicId:data.id})" class="btn btn-default">Настройки</a>
    </div>
</div>
<div ui-view></div>
