<br/>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ng-class="{active : tab == 'profile'}"><a ng-click="tab = 'profile'">Профиль</a>
                </li>
                <li role="presentation" ng-class="{active : tab == 'address'}"><a ng-click="tab = 'address'">Адрес</a>
                </li>
                <li role="presentation" ng-class="{active : tab == 'specializations'}"><a ng-click="tab = 'specializations'">Специализации</a></li>
                <li role="presentation" ng-class="{active : tab == 'about'}"><a ng-click="tab = 'about'">О клинике</a></li>
                <li role="presentation" ng-class="{active : tab == 'services'}"><a ng-click="tab = 'services'">Услуги</a>
                </li>
                <li role="presentation" ng-class="{active : tab == 'gallery'}"><a ng-click="tab = 'gallery'">Галерея</a>
                </li>
                <li role="presentation" ng-class="{active : tab == 'password'}"><a ng-click="tab = 'password'">Изменение
                    пароля</a></li>
            </ul>
        </div>
        <div class="col-xs-10" ng-switch on="tab">
            <div ng-switch-when="profile">
                <ng-include src="'app/views/clinic/tabs/profile.html'"></ng-include>
            </div>
            <div ng-switch-when="address">
                <ng-include src="'app/views/clinic/tabs/address.html'"></ng-include>
            </div>
            <div ng-switch-when="specializations">
                <ng-include src="'app/views/clinic/tabs/specializations.html'"></ng-include>
            </div>
            <div ng-switch-when="about">
                <ng-include src="'app/views/clinic/tabs/about.html'"></ng-include>
            </div>
            <div ng-switch-when="services">
                <ng-include src="'app/views/clinic/tabs/services.html'"></ng-include>
            </div>
            <div ng-switch-when="gallery">
                <ng-include src="'app/views/clinic/tabs/gallery.html'"></ng-include>
            </div>
            <div ng-switch-when="password">
                <ng-include src="'app/views/clinic/tabs/password.html'"></ng-include>
            </div>
        </div>
    </div>


</div>
