<br/>
<div class="container">
    <div ng-if="data.id" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Отзывы</h3>
        </div>
        <div class="panel-body">

            {{reviews}}

        </div>
    </div>

</div>
