<br/>
<div class="container">
    <div ng-if="data.id" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Контакты</h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-4">
                <div class="col-xs-4">
                    <b>Телефон:</b>
                </div>
                <div class="col-xs-8">

                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-4">
                    <b>Адресс:</b>
                </div>
                <div class="col-xs-8">
                    {{data.address.country}}{{data.address.city.name ? ', '+data.address.city.name : ''}}<br/>
                    {{data.address.street}}{{data.address.house ? ', '+data.address.house : ''}}{{data.address.room ? ', '+data.address.room : ''}}
                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-4">
                    <b>Почта:</b>
                </div>
                <div class="col-xs-8">
                    <div ng-repeat="item in data.contacts"><span ng-if="item.contact_type == 'email'">{{item.contact_element}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="data.id" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">О клинике</h3>
        </div>
        <div class="panel-body">
            {{data.about}}
        </div>
    </div>
    <div ng-if="data.id" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Услуги</h3>
        </div>
        <div class="panel-body">
            <p><b>Предоставляемые услуги</b></p>
            <ul class="row">
                <li class="col-xs-6" ng-repeat="service in data.medical_services">{{service.name}}</li>
            </ul>
            <div ng-if="data.can_be_called || data.can_be_called_emergency">
                <hr/>
                <p><b>Дополнительные услуги</b></p>
                <ul>
                    <li ng-if="data.can_be_called">Выезд на дом</li>
                    <li ng-if="data.can_be_called_emergency">Экстренный вызов</li>
                </ul>
            </div>

        </div>
    </div>
    <div ng-if="data.id && data.gallery_urls.length" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Галерея</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="gallery col-xs-2 row" ng-repeat="image in data.gallery_urls">
                    <img class="col-xs-12" src="{{image.thumb_url}}"/>
                </div>
            </div>
        </div>
    </div>

</div>
