<div class="container">
    <div grid-data grid-options="gridOptions" grid-actions="gridActions">
        <!-- sample table layout goes below, but remember that you can you any mark-up here. -->
        <div class="row clinicTop">
            <div class="col-xs-10">
                <h1>Клиники</h1>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Регистрация клиники</button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Регистрация клиники</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Название клиники</label>
                                    <input class="form-control" ng-model="req.name" />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" ng-model="req.email" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <button type="button" class="btn btn-primary" ng-click="regClinic(req)">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" value="1"/>
                </th>
                <th sortable="code" class="sortable">
                    ID
                </th>
                <th sortable="placed" class="sortable">
                    Название клиники
                </th>
                <th sortable="city_name" class="sortable">
                    Город
                </th>
                <th sortable='doctors_sum' class="sortable">
                    Кол-во врачей
                </th>
                <th sortable="visits_sum" class="sortable">
                    Кол-во записей
                </th>
                <th sortable='rating.review_count' class="sortable">
                    Кол-во отзывов
                </th>
                <th sortable="rating.rating_percent" class="sortable">
                    Рейтинг
                </th>
                <th sortable='registration_date' class="sortable">
                    Дата регистрации
                </th>
                <th sortable='email_address' class="sortable">
                    Почта
                </th>
                <th sortable='total.account_status' class="sortable">
                    Статус
                </th>
                <th width="130">
                    Действия
                </th>
            </tr>
            </thead>
            <tbody>
            <tr grid-item>
                <td><input type="checkbox" value="item.id"/></td>
                <td ng-bind="item.id"></td>
                <td ng-bind="item.name"></td>
                <td ng-bind="item.city_name"></td>
                <td ng-bind="item.doctors_sum"></td>
                <td ng-bind="item.visits_sum"></td>
                <td>{{item.rating.rating_eval}}<br/>{{item.rating.review_count}}</td>
                <td>{{item.rating.rating_percent}}%</td>
                <td ng-bind="item.registration_date | date:'dd.MM.yyyy'"></td>
                <td ng-bind="item.email_address"></td>
                <td ng-bind="item.account_status"></td>
                <td>
                    <a class="btn btn-primary btn-sm" ui-sref="clinicProfile.info({clinicId:item.id})"><i
                            class="glyphicon glyphicon-edit"></i></a>
                    <button class="btn btn-warning btn-sm" ng-click="confirmPopup(item.id)"><i class="glyphicon glyphicon-ban-circle"></i></button>
                </td>
            </tr>
            </tbody>
        </table>

        <div ui-view/>
    </div>
</div>