<div class="row text-center">

    <br/>
    <br/>
    <br/>
    <div class="col-xs-3 display-inline-block float-none">
        <div class="panel panel-info ">
            <div class="panel-heading">
                <h2 class="panel-title">Авторизация</h2>
            </div>
            <div class="panel-body">
                <div class="form-group text-left">
                    <label>Логин</label>
                    <input type="text" class="form-control" name="login" ng-model="user.login"/>
                </div>
                <div class="form-group text-left">
                    <label>Пароль</label>
                    <input type="password" class="form-control" name="login" ng-model="user.password"/>
                </div>
                <div class="form-group">
                    <button type="button" ng-click="login()" class="btn btn-info">Войти</button>
                </div>
            </div>
        </div>
    </div>
</div>